<div [ngClass]="{'day-background': isDay, 'night-background': !isDay}" >
    <div class="top-section" >
      <div class="">
        <label for="location" style="margin-right: 20px; font-weight: bold; background: rgba(255, 255, 255, 0.8); border-radius: 10px; padding: 10px;">Enter Location</label>
        <input id="location" type="text" pInputText [(ngModel)]="location">
      </div>
      <div class="">
        <button pButton type="button" label="Get Weather" (click)="onSubmit()"></button>
      </div>
    </div>
  
    <app-custom-panel *ngIf="weatherData" title="Result" >
      <div [ngClass]="{'day-background': isDay, 'night-background': !isDay}">
        <div class="opacity">
            <div class="container">
            <h3>Weather in {{ weatherData.location.name }}, {{ weatherData.location.country }}</h3>
            <img src="{{ weatherData.current.condition.icon }}" alt="{{ weatherData.current.condition.text }}">
            <h3 id="temp-text">{{ weatherData.current.temp_c }}°C / {{ weatherData.current.temp_f }}°F</h3>
            <p class="weather-condition-text" id="condition-text">{{ weatherData.current.condition.text }}</p>
            </div>
            <div class="card-grid">
            <p-card class="weather-card">
                <ng-template pTemplate="title">Temperature</ng-template>
                <ng-template pTemplate="content"><p class="weather-condition-text">{{ weatherData.current.temp_c }}°C</p></ng-template>
            </p-card>
            <p-card class="weather-card">
                <ng-template pTemplate="title">Humidity</ng-template>
                <ng-template pTemplate="content"><p class="weather-condition-text">{{ weatherData.current.humidity }}%</p></ng-template>
            </p-card>
            <p-card class="weather-card">
                <ng-template pTemplate="title">Wind</ng-template>
                <ng-template pTemplate="content"><p class="weather-condition-text">{{ weatherData.current.wind_kph }} kph ({{ weatherData.current.wind_dir }})</p></ng-template>
            </p-card>
            <p-card class="weather-card">
                <ng-template pTemplate="title">Pressure</ng-template>
                <ng-template pTemplate="content"><p class="weather-condition-text">{{ weatherData.current.pressure_mb }} mb</p></ng-template>
            </p-card>
            <p-card class="weather-card">
                <ng-template pTemplate="title">Visibility</ng-template>
                <ng-template pTemplate="content"><p class="weather-condition-text">{{ weatherData.current.vis_km }} km</p></ng-template>
            </p-card>
            <p-card class="weather-card">
                <ng-template pTemplate="title">UV Index</ng-template>
                <ng-template pTemplate="content"><p class="weather-condition-text">{{ weatherData.current.uv }}</p></ng-template>
            </p-card>
            <p-card class="weather-card">
                <ng-template pTemplate="title"><p>Air Quality</p></ng-template>
                <ng-template pTemplate="content">
                <div class="container">
                    <p class="weather-condition-text">CO: {{ weatherData.current.air_quality.co }} μg/m³</p><br>
                    <p class="weather-condition-text">PM2.5: {{ weatherData.current.air_quality.pm2_5 }} μg/m³</p><br>
                    <p class="weather-condition-text">PM10: {{ weatherData.current.air_quality.pm10 }} μg/m³</p>
                </div>
                </ng-template>
            </p-card>
            </div>
        </div>
      </div>
    </app-custom-panel>
  </div>